@font-face {
    font-family: 'Sk-Modernist';
    src: url('../fonts/Sk-Modernist-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Sk-Modernist';
    src: url('../fonts/Sk-Modernist-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}
